.main {
  min-height: 100vh;
  background-color: #fad7cd;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
}

.header {
  margin-top: 90px;
  display: flex;
  height: 50px;
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
}

.header > p {
  font-size: 30px;

  /* font-weight: 300; */
  color: #5c3d30;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.displayMemories {
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  min-height: 55vh;
}

.createMemoryBtn {
  cursor: pointer;
  border-radius: 8px; /* More rounded corners */
  font-family: "Inter", sans-serif;
  font-weight: 600; /* Bolder text */
  margin: 0 10px;
  padding: 12px 20px; /* Adjust padding */
  transition: all 0.3s ease; /* Smoother transition */
  height: auto;
  border: 0;
  color: #fff; /* Brighter text color for contrast */
  background-color: #be7dff; /* Softer background color */
}

.createMemoryBtn:hover {
  transform: translateY(-1px); /* Slight upward movement */
  transform: scale(1.03);
}

.dateInput {
  font-size: 16px; /* Adequate font size for readability */
  padding: 10px; /* Enough padding to make the input easy to interact with */
  border: 1px solid #e0e0e0; /* Light border color for subtlety */
  border-radius: 5px; /* Rounded corners for a softer look */
  background-color: #fff; /* White background */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow for depth */
  outline: none; /* Removes the default focus outline */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.dateInput:focus {
  border-color: #a3a3a3; /* Changes the border color on focus for visibility */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Enhances the shadow on focus */
}

/* This is to style the placeholder text, if needed */
.dateInput::placeholder {
  color: #a9a9a9; /* Placeholder text color */
  font-style: italic; /* Optional: italic style for placeholder */
}

.dateLabel {
  width: 48%;
  margin-top: 20px;
}

/* Overlay Form*/
.popupOverlay {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect for the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensures it's above other content */
}

/* Popup Card */
.popup {
  background-color: #fff; /* White background for the card */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Drop shadow */
  z-index: 20; /* Above the overlay background */
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Form Styles */
.addEditForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 20px;
  gap: 13px;
}

/* Input Styles */
.addEditForm input[type="text"],
.addEditForm textarea {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.formHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.formHeader > p {
  font-size: 25px;
  margin: 0;
  color: #2a1a00;
}

.closeButton {
  height: 30px;
  width: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.content > textarea {
  /* remove change from height and width */
  /* add this */
  resize: vertical;
  font-family: "Inter", sans-serif;
}

.delPopup {
  background-color: #fff; /* White background for the card */
  padding: 10px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Drop shadow */
  z-index: 20; /* Above the overlay background */
  height: auto;
  width: 30%;
}

.delPopup > p {
  font-size: 20px;
  margin: 0;
  color: #2a1a00;
  text-align: center;
}

.delPopup > div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.delPopup button {
  padding: 10px 20px; /* More padding for better button size */
  border: none;
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer; /* Indicates that the buttons are clickable */
  background-color: rgb(201, 201, 201);
  transition: background-color 0.3s ease;
}

.delYesBt:hover {
  background-color: #fc7f7f;
}

.delNoBt:hover {
  background-color: #5ac067ea;
}
.formSubmitBt {
  cursor: pointer;
  border-radius: 8px; /* More rounded corners */
  font-family: "Inter", sans-serif;
  font-weight: 600; /* Bolder text */
  padding: 12px 20px; /* Adjust padding */
  transition: all 0.4s ease; /* Smoother transition */
  height: auto;

  border: 2px solid #be7dff;
  background-color: white;
}

.formSubmitBt:hover {
  border: 0;
  color: #fff; /* Brighter text color for contrast */
  background-color: #be7dff; /* Softer background color */
}

.noMemories {
  font-size: 30px;
  font-weight: 400;
}
