.header {
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 15px;
}

.header p {
  margin: 0;
  font-size: 26px;
}

.siteName {
  text-decoration: none;
  /* color: #b2775e; */
  color: #2a1a00;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
  margin-left: 10px;
  font-weight: 400;
}

/* .siteName:hover {
  color: #f48477;
  transform: scale(1.01);
} */

.nav button {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0 10px;
  width: auto;
  transition: 0.4s;
  height: 40px;
  width: 120px;
}

.loginBtn {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f3f1ed;
}

.regBtn {
  color: #866051;
  background-color: #f3f1ed;
  border: 0;
}

.loginBtn:hover {
  transform: scale(1.02);
  background-color: #f3f1ed;
  color: #866051;
  border: 0;
}

.regBtn:hover {
  transform: scale(1.02);
  /* background-color: #f79489; */
  /* color: white; */
}
